# This file is for private environment variables that will be used in worker server 
# email
# https://resend.com/api-keys
RESEND_API_KEY=
# == oauth ==
# Github
# https://github.com/settings/developers
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
# Google
# https://console.cloud.google.com/apis/credentials
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
# == Cloudflare ==
# Secretkey	                            Description
# 1x0000000000000000000000000000000AA	Always passes
# 2x0000000000000000000000000000000AA	Always fails
# 3x0000000000000000000000000000000AA	Yields a “token already spent” error
CF_TURNSTILE_SECRET_KEY=

# R2
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

# Stripe
# https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=
# Set this environment variable to support webhooks — https://stripe.com/docs/webhooks#verify-events
STRIPE_WEBHOOK_SECRET=

# default domains, comma separated
DEFAULT_DOMAINS=example.com
REDIRECT_DATASET=

CF_WAE_API_TOKEN=
CF_WAE_ACCOUNT_ID=